:root{

    --purple: #883AE1;
    --grey: #6C727F;
    --linecolor: #E5EAF0;
    --background: #FAFAF9;

    --font: "Sora", sans-serif;

}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    background: var(--background);
    font-family: var(--font);
}

.container{
    width: 36.8rem;
    height: 38.8rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 16.4rem;
}

.content{
    padding: 1.6rem;
    padding-bottom: 2rem;
    background: white;
    box-shadow: 8px 8px 20px rgba(85, 85, 85, 0.08); 
    border-radius: 12px
}

.content__image{
    width: 100%;
    margin-bottom: 1.6rem;
    border-radius: 1.2rem;
    height: 15.2rem;
}

.content__desing{
    color: #883AE1;
    font-size: 1rem;
    font-family: var(--font);
    font-weight: 600;
    word-wrap: break-word;
    padding: .4rem 1.6rem;
    background-color: #E6D6FC;
    border-radius: 5rem;
}

.content__title{
    margin: 0;
    margin-top: 1.6rem;
    margin-bottom: .6rem;
    font-size: 1.8rem;
    font-weight: 600;
    word-wrap: break-word;
    color: #20293A;
    font-family: var(--font);
}

.content__description{
    margin: 0;
    padding-bottom: 2rem;
    color: #6C727F;
    font-size: 1.4rem;
    font-family: var(--font);
    font-weight: 300;
    line-height: 2.1rem;
    word-wrap: break-word;
}

.name{
    margin: 0;
    padding-top: 2rem;
    border-top: 1px var(--linecolor) solid
}
